# binaries
*.exe
*.dll
*.so
*.dylib

# test binary
*.test

# coverage
*.out

# go workspace
go.work

# build output
# bin/
# dist/

# Go cache
.gocache/

# IDE
.vscode/
.idea/

node_modules
dist
.turbo
.pnpm-store
.DS_Store

project/frontend/**/.vite/
